.selector-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #432b51;
    border-radius: 15px;
    width: fit-content;
}

.selector-container {
    padding: 10px;
}

.selector-container label {
    padding: 1px 5px;
    border-radius: 10px;
    background-color: #e08b97;
}